{% extends 'layout.html' %}
{% block content %}
<h2>Details for {{contact.full_name | title }} </h2>

<p><strong>First name(s): </strong><span>{{ contact.first_name }}</span></p>
{% if 'middle_names' in contact and contact.middle_names is not none %} <p><strong>Middle name(s): </strong><span>{{ contact.middle_names }}</span></p>{% endif %}
{% if 'last_name' in contact and contact.last_name is not none %}<p><strong>Last name(s): </strong><span>{{ contact.last_name }}</span></p>{% endif %}
{% if 'phone_number' in contact and contact.phone_number is not none %}<p><strong>Phone number: </strong><span>{{ contact.phone_number }}</span></p>{% endif %}
{% if 'email_address' in contact and contact.email_address is not none %}<p><strong>Email address: </strong><span>{{ contact.email_address  }}</span></p>{% endif %}
<div>
    <div class="contact-list-cta">
        <a href="{{ url_for('edit_contact', contact_id=contact.id)}}"><button>Edit</button></a>
    </div>
    <form method="POST" action="{{ url_for('delete_contact', contact_id=contact.id)}}" class="contact-list-cta">
        <button>Delete</button>
    </form>
</div>
<footer>
    <div>
        <a href="{{ url_for('home') }}">Back to List</a>
    </div>
</footer>
{% endblock %}