{% extends 'layout.html' %}
{% block content %}
<h1>Your contacts</h1>
{% if contacts | length > 0 %}
    <ul>

            {% for contact in contacts %}
                <li>
                    <a href="{{ url_for('view_contact', contact_id=contact.id) }}">{{ contact.full_name | title }}</a>
                    <a href="{{ url_for('edit_contact', contact_id=contact.id)}}"><button>Edit</button></a>
                    <form method="POST" action="{{ url_for('delete_contact', contact_id=contact.id)}}" class="contact-list-cta">
                        <button>Delete</button>
                    </form>
                </li>
            {% endfor %}

    </ul>
{% else %}
    <p>Looks like you have no contacts yet. Hurry up and create some.</p>
{% endif %}
<div>
    <a href="{{ url_for('new_contact') }}"><button>+ New Contact</button></a>
</div>
{% endblock %}