{% extends 'layout.html' %}
{% block content %}
<h1>Edit Contact</h1>
    <form method="POST" action="{{ url_for('edit_contact', contact_id=contact.id) }}">
        <div class="contact-input">
            <label for="first_name">First name: </label>
            <input type="text" id="first_name" name="first_name" value="{{ contact.first_name }}"/>
            <em><small>(Required)</small></em>
        </div>
        <div class="contact-input">
            <label for="middle_names">Middle name(s): </label>
            <input type="text" id="middle_names" name="middle_names" value="{{ contact.middle_names | optional_value }}"/>
        </div>
        <div class="contact-input">
            <label for="last_name">Last name: </label>
            <input type="text" id="last_name" name="last_name" value="{{ contact.last_name | optional_value }}"/>
        </div>
        <div class="contact-input">
            <label for="email_address">Email Address: </label>
            <input type="email" id="email_address" name="email_address" value="{{ contact.email_address| optional_value }}"/>
        </div>

        <p>Phone Number(s)</p>
        <div class="contact-input">
            <label for="phone_number_1">Phone number 1: </label>
            <input type="tel" id="phone_number_1" name="phone_number_1" value="{{ phone_numbers[0].number_value if (phone_numbers | length > 0) else '' }}"/>
            <select id="phone_number_1_type" name="phone_number_1_type" value="{{ phone_numbers[0].number_type if (phone_numbers | length > 0) else '' }}">
                <option value="personal">Personal</option>
                <option value="home">Home</option>
                <option value="work">Work</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="contact-input">
            <label for="phone_number_2">Phone number 2: </label>
            <input type="tel" id="phone_number_2" name="phone_number_2" value="{{ phone_numbers[1].number_value if (phone_numbers | length > 1) else '' }}"/>
            <select id="phone_number_2_type" name="phone_number_2_type" value="{{ phone_numbers[1].number_type if (phone_numbers | length > 1) else '' }}">
                <option value="personal">Personal</option>
                <option value="home">Home</option>
                <option value="work">Work</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="contact-input">
            <label for="phone_number_3">Phone number 3: </label>
            <input type="tel" id="phone_number_3" name="phone_number_3" value="{{ phone_numbers[2].number_value if (phone_numbers | length > 2) else '' }}"/>
            <select id="phone_number_3_type" name="phone_number_3_type" value="{{ phone_numbers[2].number_type if (phone_numbers | length > 2) else '' }}">
                <option value="personal">Personal</option>
                <option value="home">Home</option>
                <option value="work">Work</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="submit-form">
            <input type="submit" value="Update" />
        </div>
    </form>
    <footer>
        <div>
            <a href="{{ url_for('home') }}">Back to List</a>
        </div>
    </footer>
{% endblock %}